
{#
	./templates/tags/show.html.twig
	variables:
		- slug
		
#}
{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - {{ slug }}{% endblock %}
{% block content1 %}
	<h3>Je suis sur la page INDEX du TAG {{ slug }}</h3>
{% endblock %}