{#
  ./templates/partials/footer.html.twig
#}
<footer class="page-footer info-color darken-1" if="footer">

<div class="footer-copyright">
  <div class="container">
    <div class="col-md-10 col-md-offset-1"> © 2016 Copyright <a href="http://www.MDBootstrap.com">MDBootstrap.com </a>
      | <a href="login">Administration</a>
    </div>
  </div>
</div>

</footer>
