<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'partials/head.html.twig' %}
</head>

<body>
<!-- Navigation -->

<!-- Page Content -->
<div class="container">
  
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
		{% block body %}{% endblock %}
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <!-- /.row -->
  
  <hr>

</div>
<!-- /.container -->

<!-- Footer -->
{% include 'partials/footer.html.twig' %}

<!-- SCRIPTS -->
{% include 'partials/scripts.html.twig' %}
</body>

</html>
